<section
  class="
    banner
    {{#if banner_style}}
      banner-{{banner_style}}
    {{/if}}
    {{#if visible}}
      visible
    {{/if}}
  "
  data-banner
>
  {{#each (limit banner 1)}}
    <div
      class="banner-content"
      data-event-type="promotion"
      data-entity-id="{{this.id}}"
      data-name="{{this.banner-name}}"
      data-position="{{this.location}}"
    >
      <div data-event-type="promotion-click">
        {{{this.content}}}
      </div>
  </div>
  {{#if dismissable}}
    <button class="btn-banner-dismiss" data-banner-dismiss>
      {{> components/icons/close}}
    </button>
  {{/if}}
  {{/each}}
</section>
