<div class="pagination-container">
  {{#if pagination.links.length}}
    <div class="pagination">
      {{#each pagination.links}}
        <div
          class="pagination-link-wrapper
          {{#if number '===' ../pagination.current}}
            pagination-link-current
          {{/if}}"
        >
          <a
            class="pagination-link"
            href="{{url}}"
            data-pagination
            data-pagination-id="0"
            data-pagination-link="{{url}}"
          >
            {{number}}
          </a>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
