{{!
  Quantity Widget with Increment/Decrement controls.

  @param product
         cart.item or product object
}}

<span class="form-field-quantity-control" data-quantity-control="{{id}}">
  <span class="form-field-control">
    <input
      class="form-input"
      type="number"
      name="qty{{#if product_id}}-{{id}}{{else}}[]{{/if}}"
      pattern="[0-9]*"
      value="{{#if quantity}}{{quantity}}{{else}}{{#if min_purchase_quantity}}{{min_purchase_quantity}}{{else}}1{{/if}}{{/if}}"
      min="{{#if min_purchase_quantity}}{{min_purchase_quantity}}{{else}}0{{/if}}"
      {{#if max_purchase_quantity}}max="{{max_purchase_quantity}}"{{/if}}
      data-quantity-control-input
    >
    <div class="form-field-control-up" data-quantity-control-action="increment">{{> components/icons/arrow-up}}</div>
    <div class="form-field-control-down" data-quantity-control-action="decrement">{{> components/icons/arrow-down}}</div>
  </span>
</span>
