
<div class="form-field form-field-options form-field-date{{#if required}} form-required{{/if}}">
  <label class="form-label">

    <div class="form-field-title">
      {{display_name}}
      {{#if required}}<span class="required">{{lang 'common.required'}}</span>{{/if}}
    </div>

    <div class="form-field-control">
      <select class="form-input form-select form-date-year" name="attribute[{{id}}][year]">
        <option disabled>{{lang 'forms.date.year'}}</option>
        {{#enumerate earliest_year latest_year}}
          <option value="{{this}}" {{#equals ../selected_date.year this}}selected="selected"{{/equals}}>{{this}}</option>
        {{/enumerate}}
      </select>

      <select class="form-input form-select form-date-month" name="attribute[{{id}}][month]">
        <option disabled>{{lang 'forms.date.month'}}</option>
        {{#enumerate 1 12}}
          <option value="{{this}}" {{#equals ../selected_date.month this}}selected="selected"{{/equals}}>{{getShortMonth this}}</option>
        {{/enumerate}}
      </select>

      <select class="form-input form-select form-date-day" name="attribute[{{id}}][day]">
        <option disabled>{{lang 'forms.date.day'}}</option>
        {{#enumerate 1 31}}
          <option value="{{this}}" {{#equals ../selected_date.day this}}selected="selected"{{/equals}}>{{this}}</option>
        {{/enumerate}}
      </select>
    </div>

  </label>
</div>
