
<div class="form-field form-field-options form-field-product-list{{#if required }} form-required{{/if}}">
  <label class="form-label">
    {{display_name}}
  </label>

  <div class="form-field-control">
    {{#unless values.0.image}}
      {{!-- same as radio buttons if no image set --}}
      <div class="form-inline">
        {{#each values}}
          <label class="form-label form-radio">
            <input class="form-input"
              id="attribute_{{id}}_{{../id}}"
              name="attribute[{{../id}}]"
              type="radio"
              value="{{id}}"
              {{#if selected}}checked{{/if}}
              {{#if ../required}}required{{/if}}>
            <span class="form-field-text">{{label}}</span>
          </label>
        {{/each}}
        <label class="form-label form-radio">
          <input class="form-input"
            id="attribute_0_{{id}}"
            name="attribute[{{id}}]"
            type="radio" value="0"
            {{#if defaultValue '==' 0}}checked{{/if}}>
          <span class="form-field-text">{{lang 'product.none'}}</span>
        </label>
      </div>
    {{else}}
      <ul class="product-picklist">
        {{#each values}}
          <li class="product-picklist-item">
            <label class="product-picklist-label">
              <input class="product-picklist-radio"
                id="attribute_{{id}}_{{../id}}"
                name="attribute[{{../id}}]"
                type="radio" value="{{id}}"
                {{#if selected}}checked{{/if}}
                {{#if ../required}}required{{/if}}>
              <div class="product-picklist-image-wrap">
                <img class="product-picklist-image" src="{{getImage image 'thumb'}}" alt="{{image.alt}}">
              </div>
              <span class="product-picklist-label-text form-field-text">{{label}}</span>
            </label>
          </li>
        {{/each}}
        <li class="product-picklist-item">
          <label class="product-picklist-label picklist-none">
            <input class="product-picklist-radio"
              id="attribute_0_{{id}}"
              name="attribute[{{id}}]"
              type="radio"
              value="0"
              {{#if defaultValue '==' 0}}checked{{/if}}>
            <span class="product-picklist-label-text form-field-text">{{lang 'product.none'}}</span>
          </label>
        </li>
      </ul>
    {{/unless}}
  </div>
</div>
