
<div class="form-field {{#if required}}form-required{{/if}}">
  <label class="form-label" for="attribute-{{id}}">
    <div class="form-label-title product-option-title">
      {{display_name}}
      {{#if required}}<span class="required-text">{{lang 'common.required'}}</span>{{/if}}
    </div>
    <select class="form-input form-select" id="attribute-{{id}}" name="attribute[{{id}}]">
      {{#each values}}
        <option value="{{id}}" {{#if selected}}selected{{/if}}>{{label}}</option>
      {{/each}}
    </select>
  </label>
</div>
