
<div class="form-field form-field-options form-field-set-select{{#if required}} form-required{{/if}}">
  <label class="form-label">
    <div class="form-field-title">
      {{display_name}}
      {{#if required}}<span class="required-text">{{lang 'common.required'}}</span>{{/if}}
    </div>
    <div class="form-field-control">
      <select class="form-input form-select" id="attribute-{{id}}" name="attribute[{{id}}]">
        {{#each values}}
          <option value="{{id}}" {{#if selected}}selected{{/if}}>{{label}}</option>
        {{/each}}
      </select>
    </div>
  </label>
</div>
