
<div class="form-field form-field-options form-field-set-radio{{#if required}} form-required{{/if}}">
  <div class="form-field-title product-option-title">
    {{display_name}}
    {{#if required}}<span class="required-text">{{lang 'common.required'}}</span>{{/if}}
  </div>
  <div class="form-field-control">
    {{#each values}}
      <div>
        <label class="form-label form-radio">
          <input class="form-input"
            id="attribute-{{id}}"
            name="attribute[{{../id}}]"
            type="radio"
            value="{{id}}"
            {{#if selected}}checked{{/if}}>
          <span class="form-field-text">{{label}}</span>
        </label>
      </div>
    {{/each}}
  </div>
</div>
