
<div class="form-field form-field-options form-field-swatch{{#if required}} form-required{{/if}}" data-swatch-selector>
  <div class="form-field-title">
    {{display_name}}
    <span class="swatch-value" data-swatch-value>{{lang 'forms.swatches_none_selected'}}</span>
    {{#if required}}<span class="required-text">{{lang 'common.required'}}</span>{{/if}}
  </div>

  <div class="form-field-control">
    {{#each values}}
      <label class="swatch-wrap" data-swatch-value="{{label}}">
        <span class="sr-only">{{label}}</span>

        <input class="form-input swatch-radio"
          id="attribute-{{id}}"
          type="radio"
          name="attribute[{{../id}}]"
          value="{{id}}"
          {{#if selected}}checked{{/if}}>

        <div class="swatch {{#if data.[1]}}two-colors{{/if}}{{#if data.[2]}} three-colors{{/if}}">
          {{#if pattern}}
            <div class="swatch-color" style="background-image: url('{{pattern}}');"></div>
          {{/if}}

          {{#if data.[0]}}
            <div class="swatch-color" style="background-color: #{{data.[0]}}"></div>
          {{/if}}

          {{#if data.[1]}}
            <div class="swatch-color secondary" style="background-color: #{{data.[1]}}"></div>
          {{/if}}

          {{#if data.[2]}}
            <div class="swatch-color tertiary" style="background-color: #{{data.[2]}}"></div>
          {{/if}}
        </div>
      </label>
    {{/each}}
  </div>

</div>
