
@font-face {
  font-family: "Social Icons";
  src: url("/assets/pixelunionsocialicons-regular.eot");
  src: url("/assets/pixelunionsocialicons-regular.eot?#iefix") format("embedded-opentype"),
       url("/assets/pixelunionsocialicons-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
