.form-input {
  display: block;
  color: $input-color;
  background: $input-background-color;
  border-color: $input-border-color;

  &::placeholder {
    color: lighten($input-color, 20%);
  }

  &:focus {
    outline: none;
  }
}

// -------------------------- Form Errors -------------------------- //
// Default error classes, as dictated by validetta.js

.form-inline-message {
  display: block;

  .form-field-invalid & {
    color: #c00;
  }
}

// ---------------------------------------------------------------- //
// Select Wrappers - Provides some additional style control for select elements

.form-select-wrapper {
  position: relative;
  font-size: 14px;
  line-height: 1.6;
  color: $input-color;
  cursor: pointer;
  background-color: $input-background-color;
  border: 1px solid $input-border-color;

  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -1px;
    border-top: 3px solid $input-border-color;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    content: "";
  }

  select {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%; // needed for Firefox
    height: 100%; // needed for IE
    cursor: pointer;
    opacity: 0;
    appearance: none;
  }
}

// ---------------------------------------------------------------- //
// Common Form Classes:

// Wraps each field component
.form-field {}

// Form label - applied to the label itself. Prefer to style off titles.
.form-label {}

// Applied to labels that are used as option titles
.form-label-title {
  display: block;
}

.product-option-title {}
.form-option-title {}

// Applied to labels used as option text (radios/checkboxes)
.form-label-text {}
.product-option-text {}
.form-option-text {}

// inline inputs
.form-field-product-list,
.form-field-checkbox,
.form-field-radio {
  .form-field-control {
    display: inline-block;
  }

  .form-input {
    display: inline-block;
  }
}

// Required form element display 'required' text next title
.required-text {}


// ---------------------------------------------------------------- */
// Swatch: Set of options displaying color / pattern choices

.swatch-value {
  font-weight: normal;

  em {
    font-style: normal;
  }
}

.form-field-swatch {
  .form-field-control { @extend %clearfix; }

  .swatch-wrap {
    position: relative;
    display: block;
    float: left;
    border: 1px solid transparent;
  }

  // The block that the swatch sits within.
  .swatch {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    padding: 2px;
  }

  // Blocks displaying the pattern / colors
  .swatch-color {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;

    &-secondary {
      left: 50%;
    }

    &-tertiary {
      top: 50%;
      left: 50%;
    }
  }

  .swatch-radio {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;

    // Unselected Swatch Items
    + .swatch {}

    // Selected Swatch Item
    &:checked + .swatch {}
  }
}

// ---------------------------------------------------------------- */
// Date Field Components

.form-field-date {
  @extend %clearfix;

  .form-input { float: left; }

  .form-date-year { width: 44%; }

  .form-date-month {
    width: 25%;
    margin-right: 3%;
    margin-left: 3%;
  }

  .form-date-day { width: 25%; }
}


// ---------------------------------------------------------------- */
// Rectangles - Form options displayed as a series of rectangles with text

.form-field-set-rectangle {
  @extend %clearfix;

  .rectangle {
    position: relative;
    display: inline-block;
    float: left;
    margin: 0 5px 5px 0;
  }

  .rectangle-text {
    display: block;
    min-width: 40px;
    padding: 10px;
    line-height: 1;
    text-align: center;
    border: {
      style: solid;
      width: 1px;
    }
  }

  .form-input {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;

    // Selected Item
    &:checked + .rectangle-text {}
  }
}


// ---------------------------------------------------------------- */
// Pick-Product

.product-picklist-item {
  position: relative;
  display: block;
}

.product-picklist-radio {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  line-height: 14px;
}

.product-picklist-item-body {
  position: relative;
  display: table;
  width: 100%;
  min-height: 60px;
  padding: 6px 8px 6px 84px;
  cursor: pointer;

  &.picklist-none { padding-left: 36px; }

  &:hover {
    z-index: 1;
  }

  [type="radio"]:checked ~ & {
    z-index: 2;
  }
}

.product-picklist-image-wrap {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 34px;
  width: 40px;
  overflow: hidden;
}

.product-picklist-image {}

.product-picklist-label-text {
  display: table-cell;
  line-height: 1.4;
  color: inherit;
  vertical-align: middle;
}
