// Submission Modal
.review-modal-container {
  display: none;
}

//  Review form
.review-form-column {
  .review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-label-text {
    display: block;
    margin-bottom: 5px;
    margin-left: 0;
  }

  .form-field {
    width: 100%;
  }

  .form-field-text,
  .form-field-email {
    margin-bottom: 20px;

    .form-label {
      flex-wrap: nowrap;
    }
  }

  .form-field-title {
    @include sr-only;
  }

  .form-field-control {
    margin: 0 auto;
  }

  .review-form-submit {
    @include border-box(5px, 5px, $color-primary);
    margin-top: 45px;

    &:hover {
      background-color: $color-secondary;
    }

    .button {
      background: transparent;
    }
  }
}

// Rating Stars (clickable)
.input-stars {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;

  &.form-field-error {
    padding-bottom: 20px;
  }

  .star {
    float: right;
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: rgba($body-color, 0.3);

    &:hover,
    &:hover ~ .star svg {
      fill: $accent-color;
    }
  }

  > input:checked {
    ~ label svg {
      fill: $accent-color;
    }
  }

  .form-inline-message {
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;

    + .form-inline-message { display: none; }
  }
}

// Rating Stars (readonly)
.rating-stars {
  display: inline-block;

  .star {
    width: 20px;
    height: 20px;
  }

  .star-empty {
    fill: rgba($body-color, 0.3);
  }

  .star-full {
    fill: $accent-color;
  }
}
