
/* General
-------------------------------- */

body {
  font-family: $body-font;
  color: $body-color;
  font-size: $font-size;
  line-height: 1.666;
}

/* Links */

a {
  color: $accent-color;
  text-decoration: none;
  transition: color 0.2s $ease-out-quad;

  &:hover {
    @include hover($accent-color);
  }
}

/* Headers */

h1, h2, h3, h4, h5, h6 {
  @extend %heading-text-treatment;
  line-height: 1.25;
}

h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 14px; }

.page-title {
  @extend %heading-text-treatment, %wrapper, %full-width;
  font-size: 26px;
}

.section-title {
  @extend %section-title-text-treatment;
  font-size: 14px;
}

/* Basic elements */

img {
  max-width: 100%;
}

ul, ol, dl {
  margin: 0;
  padding: 0;
}

ul {
  list-style: outside none;
}

ol {
  list-style: outside decimal;
}

li {

}

hr {
  height: 2px;
  background: $border-color;
  border: none;
}

blockquote {

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

}

cite {
  color: $meta-color;
}

figure {
  margin: 0;
}

/* Tables */

table {
  margin: 1em 0;
  background: transparent;
  color: $body-color;
  border: 1px solid $border-color;
  border-top: none;
  border-collapse: separate;

  &.clean {
    border: none;
    border-radius: 0;
  }

  .column-title {
    display: none;
  }
}

th {
  @extend %heading-text-treatment;
  background: $input-background-color;
  font-weight: bold;
  color: $input-color !important;
}

tr td, tr th {
  border-top: 1px solid $border-color;
  padding: 20px;

  .clean & {
    border: none;
  }
}

tr td {
  border-left: 1px solid $border-color;

  &:first-child {
    border-left: none;
  }
}

table.mobile-layout {
  border-bottom: none;

  .column-title {
    font-weight: 700;
    display: inline-block;
  }

  thead {
    display: none;
  }

  tr td {
    width: 100%;
    display: block;
    text-align: left;
    border-top: 1px solid $border-color !important;
    border-left: none;

    /* < IE 10 fix */
    float:left;
    clear:left;
  }

  td:last-child {
    border-bottom: none;
  }

  tr:last-child td:last-child {
    border-bottom: 1px solid $border-color !important;
  }
}

/* Buttons */

.button, .submit, button, input[type="submit"], input[type="button"] {
  background: $accent-color;
  font-family: $button-font;
  font-weight: $button-weight;
  color: $primary-button-color;
  -webkit-appearance: none;
  display: inline-block;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: normal;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 0.2s $ease-out-quad;

  &:hover {
    @include button-hover($accent-color,background);
    color: $primary-button-color;
  }

  &.secondary {
    background: $secondary-button-background;
    color: $secondary-button-color;

    &:hover {
      @include button-hover($secondary-button-background,background);
      color: $secondary-button-color;
    }
  }

  &.disabled {
    background: $disabled-button-background;
    color: $disabled-button-color;
  }
}

/* Forms & buttons */

label {
  display: block;

  .inline-input-wrapper & {
    font-weight: normal;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
  }
}

input,
textarea {
  &:focus {
    outline: none;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="telephone"],
input[type="tel"],
input[type="number"],
textarea {
  display: block;
  background: $input-background-color;
  border: 1px solid $input-border-color;
  color: $input-color;
  border-radius: 0;
  -webkit-appearance: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  transition: border-color 0.2s $ease-out-quad;

  &::placeholder {
    color: lighten($input-color,20%);
  }

  &:focus {
    outline: 0;
  }

  &.error {
    color: $error-color;
    border: 1px solid $error-color;

    &::placeholder {
      color: lighten($error-color,30%);
    }
  }

  .inline-input-wrapper & {
    display: inline-block;
  }
}

.error-message, .errors {
  color: $error-color;
}

input[type="password"] {
  .lt-ie9 & {
    font-family: Arial, sans-serif;
  }
}

.select-wrapper {
  background-color: $input-background-color;
  cursor: pointer;
  border: 1px solid $input-border-color;
  color: $input-color;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1px;
    border-top: 4px solid $input-border-color;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }

  select {
    color: black;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    cursor: pointer;
    z-index: 2;
    width: 100%; /* needed for Firefox */
    height: 100%; /* needed for IE */
    -webkit-appearance: none;
    opacity: 0;
  }
}

/* iframes and embeds */

iframe {
  border: none;
}

/* RTE areas */

.rte {
  @extend %clearfix;
  font-size: $font-size;
  text-align: left;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  ul {
    list-style: disc;
  }

  ul, ol, dl {
    margin-left: 20px;
  }

  blockquote {
    margin-left: 0;
    padding-left: 20px;
    border-left: 2px solid $accent-color;
  }

  .tabs {
    display: block;
    width: 100%;
    height: 44px;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    position: relative;
    z-index: 10;
    font-size: 0;

    li {
      font-size: 14px;
      letter-spacing: 0.05em;
      font-weight: 300;
      color: $heading-color;
      display: inline-block;
      height: 45px;
      line-height: 45px;
      padding: 0 20px;
      margin: 0;
      border: 1px solid transparent;
      border-bottom: none;
      cursor: pointer;

      &.active {
        border-color: $border-color;
        height: 44px;
        background: transparent;
      }
    }
  }

  .tabs-content {
    display: block;
    width: 100%;
    position: relative;
    top: -1px;
    z-index: 5;
    padding: 20px 0 0;
    margin: 0 0 30px;
    overflow: hidden;
    border-top: 1px solid $border-color;

    > li {
      display: none;
      margin: 0;

      > *:first-child {
        margin-top: 0;
      }

      > *:last-child {
        margin-bottom: 0;
      }

      &.active { display: block; }
    }
  }
}
