
$body-background-color: #fff;
$body-color: #666;
$body-font: "Georgia", serif;

$accent-color: teal;
$border-color: #e4e4e4;

$input-background-color: #f7f7f7;
$input-color: #666;
$input-border-color: #e4e4e4;

$heading-font: "Helvetica Neue", sans-serif;
$heading-weight: 700;
$heading-color: #333;

$section-title-color: #333;

$meta-font: "Helvetica Neue", sans-serif;
$meta-weight: 400;
$meta-color: #888;

$button-font: "Helvetica Neue", sans-serif;
$button-weight: 700;
$primary-button-color: #fff;

$secondary-button-background: #999;
$secondary-button-color: #777;

$disabled-button-background: #999;
$disabled-button-color: #777;

$error-color: red;
