---
cart: true
---

{{#partial "page"}}

  <article class="blog-post-single">

    <!-- Post thumbnail -->
    {{#if blog.post.thumbnail}}
      <figure class="blog-post-thumbnail" style="background-image: url('{{getImage blog.post.thumbnail 'banner' (cdn 'assets/img/no-image.svg')}}');">
        <img src="{{getImage blog.post.thumbnail 'banner' (cdn 'assets/img/no-image.svg')}}" alt="{{blog.post.thumbnail.alt}}">
      </figure>
    {{/if}}

    <div class="blog-post-single-content">

      <!-- Post header -->
      <header class="blog-post-header">
        <time class="timestamp">{{blog.post.date_published}}</time>
        <h1 class="post-title">{{blog.post.title}}</h1>
      </header>

      <!-- Post content -->
      <div class="blog-content">
        {{{blog.post.body}}}
      </div>

      <footer class="blog-post-footer">
        <div class="blog-meta">
          {{#if blog.post.author}}
            <div class="post-meta post-author">{{{lang 'blog.posted_by' author=blog.post.author}}}</div>
          {{/if}}

          {{#if blog.post.tags.length}}
            <div class="blog-tags">
              <span class="blog-tags-title">{{lang 'blog.tags.title'}}</span>
              {{#each blog.post.tags}}
                <a href="{{url}}" title="{{lang 'blog.tag_permalink' tag=name}}">{{name}}</a>{{#unless @last}},&nbsp;{{/unless}}
              {{/each}}
            </div>
          {{/if}}
        </div>

        <div class="blog-share">
          {{> components/common/sharer
            url=blog.post.url
            image=(getImage blog.post.thumbnail 'thumb')
            title=blog.post.title
          }}
        </div>
      </footer>
    </div>

  </article>

  {{> core/structured-data/blog-post}}

{{/partial}}

{{> layout/base}}
