{{#partial "page"}}

  <h1 class="page-title">{{lang 'brands.title'}}</h1>

  {{{region name="brands_below_header"}}}

  <section class="brands-listing">
    <div class="container">
      <ul class="brand-items-list">
        {{#each brands}}
          <li class="brand-item {{#unless image}}no-brand-image{{/unless}}">
            {{#if image}}
              {{> components/common/responsive-image
                image=image
                class="responsive-image"
                fit=../../theme_settings.product_grid_image_cropping
                lazyload=../../theme_settings.lazyload_mode
                fallback_size=../../theme_settings.product-list
                default=../../theme_settings.default_image
              }}
            {{else}}
              <a class="brand-item-title" href="{{url}}">
                <span class="brand-name">{{name}}</span>
              </a>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>

    {{{region name="brands_below_content"}}}
  </section>

{{/partial}}

{{> layout/base}}
