{{#partial "page"}}

<div class="container">
  <article class="page-container">
    <h1 class="page-heading">{{lang 'cart.shopping_cart'}}</h1>
    <div class="page-content">

      <div class="cart-table-header">
        <div class="cart-table-cell cart-header-product">{{lang 'cart.product.product'}}</div>
        <div class="cart-item-details-header">
          <div class="cart-table-cell cart-header-each">{{lang 'cart.product.each'}}</div>
          <div class="cart-table-cell cart-header-quantity">{{lang 'cart.product.quantity'}}</div>
          <div class="cart-table-cell cart-header-total">{{lang 'cart.product.total'}}</div>
        </div>
      </div>

      <div class="cart-table">
        {{#each cart.items}}
          {{> components/cart/cart-table-item this}}
        {{/each}}
      </div>

      {{> components/cart/cart-table-footer this.cart}}

    </div>
  </article>
</div>

{{/partial}}

{{> layout/base}}
