---
cart: true
---

{{#partial "page"}}

<article class="page-container cms-page">
  <h1 class="page-heading">{{page.title}}</h1>
  <div class="page-content">
    {{#if page.content}}
      {{#replace '%%Syndicate%%' page.content}}
        {{> components/page/rss-feed}}
      {{else}}
        {{{page.content}}}
      {{/replace}}
    {{/if}}

    {{#if page.feed}}
      <ul>
        {{#each page.feed}}
          <li>
            <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
            <p>{{{content}}}</p>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</article>

{{/partial}}

{{> layout/base}}
