---
cart: true
---

<!--

  Single Product Page

    Base
    {{product.title}}
    {{product.price.base}}
    {{product.id}}
    {{{product.description}}}
    {{product.stock_level}}
    {{product.detail_messages}}

    Brand
    {{product.brand.name}}
    {{product.brand.url}}

    Reviews
    {{product.num_reviews}}
    {{this.product.rating}}

    Urls
    {{product.url}}
    {{product.cart_url}}
    {{product.add_to_wishlist_url}}

    Conditionals
    {{product.can_purchase}}
    {{product.out_of_stock_message}}
    {{product.pre_order}}

  {{!> components/product/images}}
  {{!> components/product/review rating=product.rating total=product.num_reviews}}

-->


{{#partial "page"}}

  {{> components/product/details}}
  {{{pre product}}}

{{/partial}}
{{> layout/base}}
