<div class="form-field">
  <label class="form-label">

    <div class="form-label-text">
      {{ this.display_name }}
      {{#if this.required }}<span class="required">*</span>{{/if}}
    </div>
    <div class="date-select-group">
      <select name="attribute[{{this.id}}][month]" class="form-input month">
        <option disabled>{{lang 'date.month' }}</option>
        {{#enumerate 1 12}}
          <option value="{{ this }}" {{#equals ../selected_date.month this}}selected="selected"{{/equals}}>{{getShortMonth this }}</option>
        {{/enumerate}}
      </select>

      <select name="attribute[{{this.id}}][day]" class="form-input day">
        <option disabled>{{lang 'date.day' }}</option>
        {{#enumerate 1 31}}
          <option value="{{ this }}" {{#equals ../selected_date.day this}}selected="selected"{{/equals}}>{{ this }}</option>
        {{/enumerate}}
      </select>

      <select name="attribute[{{this.id}}][year]" class="form-input year">
        <option disabled>{{lang 'date.year' }}</option>
        {{#enumerate earliest_year latest_year}}
          <option value="{{ this }}" {{#equals ../selected_date.year this}}selected="selected"{{/equals}}>{{ this }}</option>
        {{/enumerate}}
      </select>
    </div>

  </label>
</div>
