.compare-modal {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  background-color: $color-background-alt;
  box-shadow: 0 2px 4px 0 $color-black;
  transition: 0.2s height ease-in-out;

  @include breakpoint(s) {
    left: auto;
    width: 350px;
  }

  &.animating,
  &.visible {
    display: block;
  }

  &.animating-in,
  &.animating-out {
    transform: translateY(100%);
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .compare-widget-remove-all {
    @extend %link;
    margin-left: 10px;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: $color-primary;
    }
  }

  button:not(.compare-product-item-remove) {
    padding: 0;
    font-family: inherit;
    background: transparent;
    border: 0;
    border-radius: 0;
  }

  &[data-compare-count="1"] {
    .compare-multiple {
      display: none;
    }
  }

  &:not([data-compare-count="1"]) {
    .compare-one {
      display: none;
    }
  }
}

.compare-modal-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: {
    top: 30px;
    right: 25px;
    bottom: 30px;
    left: 25px;
  }
  color: $color-compliment;
  background-color: $color-secondary;

  &:hover {
    background-color: $color-primary;
  }
}

.compare-widget-toggle {
  position: relative;
  width: 100%;

  svg {
    position: absolute;
    top: calc(50% - 5px);
    right: 0;
    display: inline-block;
    width: 20px;
    height: 10px;
    transform: rotate(180deg);
    transition: transform 0.4s $ease-out-quad;
  }

  &.is-open {
    svg {
      transform: rotate(0deg);
    }
  }
}

.compare-modal-title {
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.compare-modal-close {
  width: 20px;
  height: 15px;
  padding: 0;
  background: none;
  border: 0;
  appearance: none;
}

.compare-modal-items {
  display: block;
  width: 100%;
  height: 173px;
  padding: {
    top: 30px;
    right: 25px;
    bottom: 30px;
    left: 25px;
  }
  text-align: center;
}

.compare-product-item {
  position: relative;
  display: inline-block;
  width: calc(33.33333% - 14px);
  height: auto;
  max-height: 113px;
  margin-right: 7px;
  margin-left: 7px;
}

.compare-widget-item-image {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 5.75rem;
  background-color: $color-background;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.compare-product-item-remove {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 20px;
  height: 20px;
  color: $color-primary;
  background-color: $color-compliment;
  border: 0;
  appearance: none;

  .icon-close {
    width: 7px;
    height: 7px;
  }
}

.compare-modal-footer {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.compare-modal-submit {
  @include border-box(5px, 10px 40px, $color-primary);
  color: $color-compliment;
  appearance: none;

  &:hover {
    background: $color-secondary;
  }

  &:disabled,
  &.button-disabled {
    cursor: not-allowed;
    background: $color-secondary;
    opacity: 0.8;
  }
}
