{{!
  @param shop_by_brand
         The brand filters, as supplied by Stencil.
}}
<div class="filter filter-bybrand">
  <h5 class="filter-title">{{lang 'filter.brand.title'}}</h5>

  <ul class="filter-list">
    {{#each (limit shop_by_brand 4)}}
      <li class="filter-item">
        <a class="filter-item-link" href="{{url}}">{{name}}</a>
      </li>
    {{/each}}

    {{#if shop_by_brand.length '>' 4}}
      <li class="filter-item filter-item-supplementary">
        <a class="filter-item-link" href="{{urls.brands}}">{{lang 'filter.brand.more'}}</a>
      </li>
    {{/if}}
  </ul>
</div>
