{{inject 'removeGiftWrap' (lang 'cart.gift_wrapping.remove_confirm')}}

<div class="cart-item-cell cart-item-gift-wrapping">
  {{#if show_gift_wrapping}}
    {{#if gift_wrapping}}
      {{#if gift_wrapping.message}}
        <p class="cart-item-gift-wrapping-message">"{{gift_wrapping.message}}"</p>
      {{/if}}
      <span class="cart-item-gift-wrapping-modifiers">
        <a class="cart-item-gift-wrapping-edit" href="#" data-item-giftwrap="{{id}}">
          {{lang 'cart.gift_wrapping.change'}}
        </a>
        <a
          class="cart-item-gift-wrapping-remove"
          href="{{gift_wrapping.remove_url}}"
          data-giftwrap-remove
        >
          {{lang 'cart.gift_wrapping.remove'}}
        </a>
      </span>
    {{else}}
      <span>
        <a href="#" data-item-giftwrap="{{id}}">
          {{lang 'cart.gift_wrapping.add'}}
        </a>
      </span>
    {{/if}}
  {{/if}}
</div>
