
{{#if radios}}
  <div class="form-field form-field-radio {{#if required}} form-required{{/if}}" id="{{id}}">
    <div class="form-field-title">
      {{label}}
      {{#if required}}<span class="required-text">{{lang 'common.required'}}</span>{{/if}}
    </div>
    <div class="form-field-control">
      {{#each radios}}
        <label class="form-label form-radio">
          <input class="form-input"
            id="radio-{{../name}}-{{id}}"
            name="{{../name}}"
            type="radio"
            value="{{value}}"
            {{#if checked}}checked{{/if}}
            {{#if private_id}}data-field-type="{{private_id}}"{{/if}}
            aria-required="{{required}}">
          <span class="form-field-text">{{label}}</span>
        </label>
      {{/each}}
    </div>
  </div>
{{/if}}
