<div
  class="product-listing"
  data-listing-container
  {{#if category.show_compare}}data-product-compare{{/if}}>

  {{#if category.products}}
    {{#each category.products}}
      {{> components/product/product-item
        default_image=(cdn ../theme_settings.default_image)
        show_compare=../category.show_compare
        price_from=../theme_settings.price_from
      }}
    {{/each}}
  {{else}}
    <div class="product-listing-empty">
      {{lang 'category.empty'}}
    </div>
  {{/if}}
</div>
