<div data-faceted-search>
  {{!-- TODO: Add sort filter --}}
  {{!> components/category/sort-filter sort=pagination.category.sort}}

  {{#if category.faceted_search_enabled}}
    {{#each category.facets}}
      {{#if visible}}
        <div data-facet-filter>

          <h3>
            {{title}}

            {{#if remove_url}}
              <a href="{{remove_url}}" data-faceted-search-facet data-facet-remove>{{lang 'faceted_search.clear'}}</a>
            {{/if}}

            {{#unless selected }}
              {{#if start_collapsed}}
                <span class="is-open" data-facet-toggle>&#43;</span>
              {{else}}
                <span data-facet-toggle>&ndash;</span>
              {{/if}}
            {{/unless}}
          </h3>

          {{{dynamicComponent 'components/faceted-search/facets'}}}
        </div>
      {{/if}}
    {{/each}}
  {{/if}}
</div>
