<li class="nav-menu-item mega-parent" data-dropdown>
  <a class="shop-dropdown-toggle" href="#" data-dropdown-toggle>
    {{lang 'header.shop'}}
    <span class="dropdown-arrow">
      {{> components/icons/arrow-down}}
    </span>
  </a>
  <ul class="dropdown shop-dropdown mega-dropdown" data-dropdown-panel>
    <div class="meganav-container">
      {{#each categories}}
        <li class="nav-menu-item" {{#if children}}data-tier{{/if}}>
          {{#if children}}
            <a
              href="{{url}}"
              class="meganav-second-tier-link"
              data-meganav-toggle
              data-tier-toggle
            >
              {{name}}
              <span class="dropdown-arrow">
                {{> components/icons/arrow-down}}
              </span>
            </a>
            <ul class="dropdown-tier meganav-second-tier" data-tier-panel>
              {{> components/navigation/navigation-item-loop
                show_all=true
              }}
            </ul>
          {{else}}
            <a href="{{url}}" class="meganav-second-tier-link">
              {{name}}
            </a>
          {{/if}}
        </li>
      {{/each}}
    </div>
  </ul>
</li>
