{{#if icon '===' 'Pinterest'}}
  {{> components/icons/social/pinterest}}
{{else if icon '===' 'Tumblr'}}
  {{> components/icons/social/tumblr}}
{{else if icon '===' 'YouTube'}}
  {{> components/icons/social/youtube}}
{{else if icon '===' 'StumbleUpon'}}
  {{> components/icons/social/stumbleupon}}
{{else if icon '===' 'GooglePlus'}}
  {{> components/icons/social/google-plus}}
{{else if icon '===' 'Facebook'}}
  {{> components/icons/social/facebook}}
{{else if icon '===' 'Twitter'}}
  {{> components/icons/social/twitter}}
{{else if icon '===' 'LinkedIn'}}
  {{> components/icons/social/linkedin}}
{{else if icon '===' 'Instagram'}}
  {{> components/icons/social/instagram}}
{{else if icon '===' 'RSS'}}
  {{> components/icons/social/rss}}
{{/if}}

