{{inject 'addSuccess' (lang 'product.success')}}
{{inject 'addToCart' (lang 'product.add_to_cart')}}
{{inject 'cartLink' (lang 'product.cart_link')}}
{{inject 'checkoutLink' (lang 'product.checkout_link')}}
{{inject 'errorMessageGeneral' (lang 'product.error_message_general')}}
{{inject 'homeLink' (lang 'product.home_link')}}
{{inject 'outOfStock' (lang 'product.error_message_stock')}}
{{inject 'preOrder' (lang 'product.pre_order')}}
{{inject 'soldOut' (lang 'product.sold_out')}}

{{inject 'urlsCart' urls.cart}}
{{inject 'urlsCheckout' urls.checkout.single_address}}

<div data-product-details data-product-title="{{product.title}}">
  {{#unless product.out_of_stock_message}}
    <link itemprop="availability" href="http://schema.org/InStock">
  {{else}}
    <link itemprop="availability" href="http://schema.org/OutOfStock">
  {{/unless}}

  <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data" data-cart-item-add>
    <input type="hidden" name="action" value="add">
    <input type="hidden" name="product_id" value="{{product.id}}" data-product-id>

    <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
      {{#if settings.show_product_rating}}
        <meta itemprop="ratingValue" content="{{product.rating}}">
        <meta itemprop="ratingCount" content="{{product.num_reviews}}">
      {{/if}}
      {{#if settings.show_product_reviews}}
        <meta itemprop="reviewCount" content="{{product.num_reviews}}">
      {{/if}}
    </div>

    {{#if product.sku}}
      <div data-product-sku>{{product.sku}}</div>
    {{/if}}

    {{#if product.weight}}
      <div data-product-weight>{{product.weight}}</div>
    {{/if}}

    {{> components/product/price price=product.price show_savings=true schema_org=true}}

    {{#if product.options}}
      <div data-product-option-change>
        {{#each product.options}}
          {{{dynamicComponent 'components/product/options'}}}
        {{/each}}
      </div>
    {{/if}}

    {{#if product.customizations}}
      <div data-product-option-change>
        {{#each product.customizations}}
          {{{dynamicComponent 'components/product/customizations'}}}
        {{/each}}
      </div>
    {{/if}}

    {{#if product.show_quantity_input}}
      {{> components/common/quantity product}}
    {{/if}}

    <div class="form-field" data-product-add>
      {{#if product.pre_order}}
        <input class="button" type="submit" value="{{lang 'product.pre_order'}}" data-button-purchase data-button-preorder>
      {{else}}
        <input class="button" type="submit" value="{{lang 'product.add_to_cart'}}" data-button-purchase>
      {{/if}}
      <span class="spinner"></span>
    </div>
  </form>

  <div data-product-message></div>

  {{#if product.description}}
    <div itemprop="description">
      {{{product.description}}}
    </div>
  {{/if}}
</div>
