{{inject 'addSuccess' (lang 'product.success')}}
{{inject 'addToCart' (lang 'product.add_to_cart')}}
{{inject 'cartLink' (lang 'product.cart_link')}}
{{inject 'checkoutLink' (lang 'product.checkout_link')}}
{{inject 'errorMessageGeneral' (lang 'product.error_message_general')}}
{{inject 'homeLink' (lang 'product.home_link')}}
{{inject 'outOfStock' (lang 'product.error_message_stock')}}
{{inject 'preOrder' (lang 'product.pre_order')}}
{{inject 'soldOut' (lang 'product.sold_out')}}

{{inject 'urlsCart' urls.cart}}
{{inject 'urlsCheckout' urls.checkout.single_address}}

<div data-product-details data-product-title="{{product.title}}">
  {{#unless product.out_of_stock_message}}
    <link itemprop="availability" href="http://schema.org/InStock">
  {{else}}
    <link itemprop="availability" href="http://schema.org/OutOfStock">
  {{/unless}}

  <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data" data-cart-item-add {{#if customer}}data-is-customer{{/if}}>
    <input type="hidden" name="action" value="add">
    <input type="hidden" name="product_id" value="{{product.id}}" data-product-id>

    <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
      {{#if settings.show_product_rating}}
        <meta itemprop="ratingValue" content="{{product.rating}}">
        <meta itemprop="ratingCount" content="{{product.num_reviews}}">
        {{> components/reviews/ratings rating=product.rating}}
      {{/if}}
      {{#if settings.show_product_reviews}}
        <meta itemprop="reviewCount" content="{{product.num_reviews}}">
        {{#if product.num_reviews 0}}{{lang 'product.reviews.no_reviews'}}{{/if}}
        <a href="#modal-review-form" class="review-link">{{ lang 'product.reviews.leave_review' }}</a>
      {{/if}}
    </div>

    {{#each product.reviews.messages}}
      {{#if error}}
        {{> core/alerts/alert-error message=error dismissable=true}}
      {{/if}}
      {{#if success}}
        {{> core/alerts/alert-success message=success dismissable=true}}
      {{/if}}
    {{/each}}

    {{! container for appending cart-add errors}}
    <div data-product-cart-message></div>

    {{#if product.sku}}
      <div data-product-sku>{{product.sku}}</div>
    {{/if}}

    {{#if product.weight}}
      <div data-product-weight>{{product.weight}} {{settings.measurements.weight}}</div>
    {{/if}}

    <div>
      {{#if product.call_for_price}}
        {{product.call_for_price}}
      {{/if}}
      {{#if product.price}}
        {{> components/product/price price=product.price show_savings=true schema_org=true}}
      {{/if}}
    </div>

    {{! container for appending product-option-change errors}}
    <div data-product-option-message></div>

    {{#if product.options}}
      <div data-product-option-change>
        {{#each product.options}}
          {{{dynamicComponent 'core/forms/options'}}}
        {{/each}}
      </div>
    {{/if}}

    {{#if product.customizations}}
      <div data-product-option-change>
        {{#each product.customizations}}
          {{{dynamicComponent 'core/forms/customizations'}}}
        {{/each}}
      </div>
    {{/if}}

    <div class="form-field" data-product-add>
      {{#if product.pre_order}}
        <input class="button" type="submit" value="{{lang 'product.pre_order'}}" data-button-purchase data-button-preorder>
      {{else}}
        <input class="button" type="submit" value="{{lang 'product.add_to_cart'}}" data-button-purchase>
      {{/if}}
      <span class="spinner"></span>
    </div>
  </form>

  {{#if settings.show_wishlist}}
    {{#if customer.wishlists.length}}
      <ul>
        {{#each customer.wishlists}}
          <li>
            <a href="{{../product.add_to_wishlist_url}}&wishlistid={{id}}" data-wishlist-link="{{view_url}}">
              {{name}} ({{num_items}})
            </a>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <a href="{{product.add_to_wishlist_url}}">
        {{lang 'product.add_to_wishlist'}}
      </a>
    {{/if}}
  {{/if}}

  <div data-product-message></div>

  {{#if product.description}}
    <div itemprop="description">
      {{{product.description}}}
    </div>
  {{/if}}

  {{#if product.num_reviews 0 operator='>'}}
    <div class="product-reviews">
      <h3>{{lang 'product.reviews.heading'}}</h3>

      {{> components/reviews/ratings rating=product.rating}}

      <div class="rating-summary">
        {{{lang 'product.reviews.total_based_on' score=product.rating numReviews=product.num_reviews}}}
      </div>

      <a href="#modal-review-form" class="review-link">{{ lang 'product.reviews.leave_review' }}</a>

      {{#each product.reviews.list}}
        {{> components/reviews/review-item}}
      {{/each}}
    </div>
  {{/if}}

  {{> components/reviews/review-modal}}

</div>
