<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
  {{#if price.without_tax}}

    {{#if schema_org}}
      <meta itemprop="price" content="{{price.without_tax.value}}">
    {{/if}}

    <span data-product-price="without-tax">
      {{price.without_tax.formatted}}
    </span>

    {{#if price.saved}}
      <span data-product-rrp="without-tax">
        {{price.rrp_without_tax.formatted}}
      </span>
    {{/if}}

    {{#if show_tax}}
      <span>{{lang 'product.excluding_tax'}}</span>
    {{/if}}
  {{/if}}

  {{#if price.with_tax}}

    {{#if schema_org}}
      {{#unless price.without_tax}}
        <meta itemprop="price" content="{{price.with_tax.value}}">
      {{/unless}}
    {{/if}}

    <span data-product-price="with-tax">
      {{price.with_tax.formatted}}
    </span>

    {{#if price.saved}}
      <span data-product-rrp="with-tax">
        {{price.rrp_with_tax.formatted}}
      </span>
    {{/if}}

    {{#if show_tax}}
      <span>{{lang 'product.including_tax'}}</span>
    {{/if}}
  {{/if}}

  {{#if show_savings}}
    {{#if price.saved}}
      <span data-product-price-saved>
        {{price.saved.formatted}}
      </span>
    {{/if}}
  {{/if}}
</div>
