{{!
  Product listing item

  @param default_image
         The image to use if the product has no image assigned.
}}

<article class="product-item">
  <h1 class="product-item-title">
    <a href="{{url}}">{{name}}</a>
  </h1>

  <div class="product-item-price">
    {{> components/product/price}}
  </div>

  {{#if show_compare}}
    <label class="product-item-compare">
      <input
        type="checkbox"
        data-compare-checkbox
        data-compare-id="{{id}}"
        data-compare-title="{{name}}"
        data-compare-url="{{url}}"
        data-compare-thumbnail="{{getImage image 'small' default_image}}">
      Compare
    </label>
  {{/if}}

  {{#if out_of_stock_message}}
    <div class="product-item-tag tag-sold-out">{{out_of_stock_message}}</div>
  {{else}}
    {{#if price.saved}}
      <div class="product-item-tag tag-sale">{{lang 'core.product.sale'}}</div>
    {{/if}}
  {{/if}}

  <img class="product-item-image" src="{{getImage image 'small' default_image}}">
</article>
