
<section class="carousel">
  {{#each carousel.slides}}
    <figure class="carousel-item {{#if @first}}active{{/if}}">
     {{#if url}}
        <a class="carousel-item-image-link" href="{{{url}}}">
          <img class="carousel-item-image" src="{{image}}" alt="{{{alt_text}}}" />
        </a>
      {{else}}
        <img class="carousel-item-image" src="{{image}}" alt="{{{alt_text}}}" />
      {{/if}}
      <figcaption class="carousel-item-info">
        {{#if url}}
          <a href="{{url}}">
            <h2 style="color: {{heading_color}}">{{heading}}</h2>
            <p style="color: {{text_color}}">{{text}}</p>
          <a class="button" href="{{{url}}}" style="color: {{button_text_color}};">{{button_text}}</a>
        {{else}}
          <h2 style="color: {{heading_color}}">{{heading}}</h2>
          <p style="color: {{text_color}}">{{text}}</p>
        {{/if}}
      </figcaption>
    </figure>
  {{/each}}

  <div class="carousel-navigation">
    <span class="carousel-navigation-item previous">&larr;</span>
    <span class="carousel-navigation-item next">&rarr;</span>
  </div>
</section>
