<!--

  ## logo

  <div class="branding">
    {{#if settings.store_logo.image.data}}
      <a class="logo" href="/">
        <img class="header-logo-image" src="{{getImage settings.store_logo.image 'logo'}}" alt="{{settings.store_logo.image.alt}}">
      </a>
    {{else}}
      <h1 class="text"><a href="/">{{settings.store_logo.title}}</a></h1>
    {{/if}}
  </div>

  ## user links

  <div class="customer-links">
    {{#if customer }}
      <a href="{{urls.account.index}}">{{ lang 'header.logged_in_as' name=customer.name }}</a>
      <a href="{{urls.auth.logout}}">{{ lang 'header.log_out' }}</a>
    {{else}}
      <a href="{{urls.auth.create_account}}">{{ lang 'header.sign_up' }}</a>
      <a href="{{urls.auth.login}}">{{ lang 'header.log_in' }}</a>
    {{/if}}
  </div>

-->

<header class="main-header" role="banner">

  <div class="container">


  </div>

</header>
