<div
  class="facet-search-filter-wrapper
  {{#unless start_collapsed}}visible{{/unless}}"
   data-facet-filter-wrapper
 >
  <ul class="faceted-search-filter-list facet-default hierarchy" data-count="{{items_count}}">
    {{#each items}}
      <li class="facet-item {{#if selected}}is-selected{{/if}}" data-facet-item>
        <a
          href="{{url}}"
          rel="nofollow"
          class="facet-link"
          data-faceted-search-facet
        >
          {{#if selected}}
            {{> components/icons/close}}
          {{/if}}
          {{{title}}}
          {{#if ../show_product_counts}}
            <span data-facet-item-count>
              ({{count}})
            </span>
          {{/if}}
        </a>
      </li>
    {{/each}}
  </ul>
  {{#if show_more_toggle}}
    <a class="facet-toggle-more facet-link" href="#" data-facet-more="{{facet}}">
      <span class="facet-item toggle-link-text-off">
        {{lang 'faceted_search.show_more'}}
        {{> components/icons/arrow-down}}
      </span>
      <span class="facet-item toggle-link-text-on">
        {{lang 'faceted_search.show_less'}}
        {{> components/icons/arrow-up}}
      </span>
    </a>
  {{/if}}
</div>
