<!doctype html>
<!--[if IE 8]><html class="no-js ie8 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <title>{{head.title}}</title>

  {{{head.meta_tags}}}
  {{{head.config}}}

  <link href="{{head.favicon}}" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {{{stylesheet '/assets/css/theme.css'}}}
  {{ getFontsCollection }}

  {{{head.scripts}}}
  {{{head.rsslinks}}}
  {{inject 'themeImageSizes' theme_images}}
  {{> components/global-injects}}
  {{> components/snippets/facebook-like}}
</head>

<body class="{{page_type}}">
  <div class="icon-sprite">{{> components/common/icons/sprite}}</div>

  {{> components/header}}

  {{#if carousel}}
    {{> components/carousel}}
  {{/if}}

  <main class="main-content">
    {{#block "page"}}{{/block}}
  </main>

  {{> components/compare/compare-widget}}

  <script src="{{cdn '/assets/js/bundle.js'}}"></script>
  <script>
    // Exported in app.js
    window.stencilBootstrap("{{template_file}}", {{jsContext}}).load();
  </script>
  {{> components/footer}}


</body>
</html>
