<!doctype html>
<!--[if IE 8]><html class="no-js ie8 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <title>{{head.title}}</title>

  {{{head.meta_tags}}}
  {{{head.config}}}

  <link href="{{head.favicon}}" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="/assets/css/theme.css" rel="stylesheet">

  <!-- TODO: dynamic fonts from settings -->
  {{! > components/common/fonts fonts=(pick theme_settings "fontFamily-sans" "fontFamily-serif" "fontFamily-headings" "fontFamily-hero")}}

  {{{head.scripts}}}
  {{{head.rsslinks}}}
  {{inject 'themeImageSizes' theme_images}}

  {{> components/common/theme-object}}
</head>

<body class="{{page_type}}">

  {{> components/header}}

  {{#if carousel}}
    {{> components/carousel}}
  {{/if}}

  <main class="main-content">
    {{#block "page"}}{{/block}}
  </main>

  {{> components/footer}}

  <script src="{{cdn '/assets/jspm_packages/system.js'}}"></script>
  <script src="{{cdn '/assets/config.js'}}"></script>
  {{#if in_production}}
    <script src="{{cdn '/assets/js/bundle.js'}}"></script>
  {{else}}
    <script src="{{cdn '/assets/js/dependency-bundle.js'}}"></script>
  {{/if}}

  {{footer.scripts}}

  <!--Loads JSPM main application, then instantiates each page type module when needed.  -->
  <script>System.import("js/app").then(function(data){ data.default("{{template_file}}", {{jsContext}}).load()});</script>

</body>
</html>
